{% load static %}
<li>
  <article class="post">

    {% comment  %}
    For the moment I wil hard code a value here "the-mountains"
    {% endcomment %}
    <a href="{% url "post-detail-page" "the-mountains" %}">
      <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain Hiking"/>
      <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>There's nothing like the views you get when hiking the 
            mountains!And I was't even prepared for what happened whilst I 
            was enjoying the view!
      </div>
    </a>
  </article>
</li>